# Data Science Tools and Ecosystem

A notebook summarising data science tools and the ecosystem.

<b>Objectives: </b>
- List popular DS languages
- List commonly used DS libraries
- Create a table that includes DS tools
- Use code cells to evaluate arithmetic expressions

Some popular languages used in data science:
1. Python
2. R
3. Scala
4. SQL

Some commonly used libraries include:
1. Pandas
2. matplotlib
3. Vegas
4. ggplot 2

|Data Science Tools|
|---|
|Jupyter|
|R Studio|
|Zepplin|

### Examples of evaluating arithmetic expressions in Python

In [2]:
# a simple arithmetic expression to multiply then add
(3*4)+5

17

In [3]:
# converting 200 minutes into hours
200/60

3.3333333333333335

## Author 
William